
.imagen-de-fondo-vidrios-mallorca{
  background: url(../img/imagen-de-fondo-vidrios-mallorca.jpg) top center no-repeat;
  text-align: left;
  height: 80vh;
}
.logo-vidrios-mallorca{
  max-width: 65px;
}
.formato-titulo{
  color: black;
  font-weight: bold;
}
.formato-parrafo{
  color: black;
  text-align: justify;
}
.ajuste-descripcion-poster{
  position:absolute;
  top: 30vh;
  width: 30%;
}

.nav-wrapper a ul li{
  color: black !important;
}
.imgproductos{
  height: 200px;
}
.card_height{
  min-height: 30vh;
  margin: 5vh;

}

.ContentCardPanel{
  height: 30vh;
}
